extends layout

block content
    .container
        h1 Game Results
        
        .results-container
            .score-section
                h2 Your Score
                .score-display
                    .score-number #{score}/#{totalQuestions}
                    .score-percentage #{percentage}%
                
                .score-message
                    if percentage >= 80
                        .excellent Excellent! You're a trivia master!
                    else if percentage >= 60
                        .good Good job! Keep it up!
                    else if percentage >= 40
                        .okay Not bad, but there's room for improvement!
                    else
                        .needs-work Don't give up! Practice makes perfect!
            
            .actions-section
                a.btn.btn-primary(href='/g/play') Play Again
                a.btn.btn-secondary(href='/g/leaderboard') View Leaderboard
                a.btn.btn-info(href='/') Back to Home
        
        if leaderboard && leaderboard.length > 0
            .leaderboard-preview
                h3 Top Scores
                table.leaderboard-table
                    thead
                        tr
                            th Rank
                            th Player
                            th Score
                            th Date
                    tbody
                        each entry, index in leaderboard.slice(0, 5)
                            tr(class=entry.Username === user.username ? 'current-user' : '')
                                td #{index + 1}
                                td #{entry.FirstName} #{entry.LastName}
                                td #{entry.Score}/#{entry.QuestionsAnswered}
                                td #{new Date(entry.DatePlayed).toLocaleDateString()}
    