extends layout

block content
    h1 All Trivia Questions
    
    if questions && questions.length > 0
        p Total Questions: #{questions.length}
        
        .questions-list
            each question, index in questions
                .question-item
                    h3 Question #{question.QuestionId}
                    p.question-text= question.QuestionText
                    
                    .answers
                        p 
                            strong Correct Answer: 
                            span.correct-answer= question.CorrectAnswer
                        p 
                            strong Incorrect Answers:
                        ul
                            li= question.IncorrectAnswer1
                            li= question.IncorrectAnswer2
                            li= question.IncorrectAnswer3
                    
                    if isAdmin
                        .admin-actions
                            a(href=`/a/editQuestion/${question.QuestionId}`) Edit
                            a(href=`/a/deleteQuestion/${question.QuestionId}`, onclick="return confirm('Are you sure you want to delete this question?')") Delete
    else
        p No questions found.
        
    .actions
        a(href='/q/addQuestions') Add New Question
        if isAdmin
            a(href='/a/viewQuestions') Admin Question Management
        a(href='/') Back to Home
